/* Stildefinitionen für die Komponente 'library' */

.wrapper {
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: #fff;
  padding: 20px;
}

.header {
  background-color: var(--main-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 6rem;
}

.headerText {
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  cursor: default;
  user-select: none;
}

.headerIconWrapper {
  display: flex;
  height: 6rem;
  width: 6rem;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2rem;
}

.iconWrapper {
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s all;
  position: relative;
  border-radius: 0.3rem;
}

.headerIcon {
  height: 2.5rem;
  width: 2.5rem;
}

.iconWrapper:hover {
  background-color: var(--secondary-color);
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.display-card {
  width: 200px;
  margin: 15px;
  background-color: var(--bg-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}

.display-card:hover {
  transform: scale(1.05);
}

.searchBarWrapper {
  width: 70%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
}

.searchBarInput {
  outline: none;
  border: none;
  border-bottom: 3px solid var(--text-color);
  background-color: var(--primary-color);
  width: 0%;
  opacity: 0;
  font-size: 1.8rem;
  transition: 0.3s all;
  transform-origin: right;
}

.searchBarActive {
  width: 93% !important;
  opacity: 1 !important;
}

.searchBarActive:focus {
  border-color: var(--secondary-color);
}

.searchBarIconFocus {
  filter: invert(33%) sepia(33%) saturate(7480%) hue-rotate(328deg)
    brightness(101%) contrast(101%) !important;
}

.searchIconWrapper {
  width: 5%;
  cursor: pointer;
}

.searchBarIcon {
  transition: 0.3s all;
  filter: invert(1);
  height: 2.5rem;
  width: 2.5rem;
}

.loaderContainer {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: var(--secondary-color);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
